body{
	background-color: white;
	font-family: 'Inconsolata', mono;
	position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) }
}

.jumbotron {
	height: 600px;
	width: 900px;
	color: black;
	font-family: 'Inconsolata', mono;
	margin: auto;
}

.jumbotron pre{
	font-size: 250%;
}

.inputbox{
	width: 500px;
}