body{
	background-color: lightgreen;
}

.nav {
	margin: auto;
	background-color: forestgreen;
	text-transform: uppercase;
}
.nav li{
	font-family: 'Inconsolata', mono;
	display: inline;
	color: whitesmoke;
}

.jumbotron {
	background-image:url('http://goo.gl/ijwpq7');
	height: 600px;
	width: 900px;
	color: white;
	font-size: 250%;
	font-family: 'Inconsolata', mono;
	margin: auto;
}

.info {
	font-family: 'Inconsolata', mono;
	display: inline;
}

.infoitem {
	width: 400px;
}

.info table {
	background-color: forestgreen;
}

.info h2{
	margin-left: 40%;
	margin-right: 40%;
}