body{
	background-color: lightgreen;
	font-family: 'Inconsolata', mono;
}

.jumbotron {
	background-image:url('http://goo.gl/ijwpq7');
	height: 600px;
	width: 900px;
	color: white;
	font-size: 250%;
	font-family: 'Inconsolata', mono;
	margin: auto;
}

.chatjoin {
	margin-left: 35%;
	margin-right: 35%;
}

.info {
	font-family: 'Inconsolata', mono;
	display: inline;
}

.infoitem {
	width: 400px;
}

.info table {
	background-color: forestgreen;
}

.info h2{
	margin-left: 40%;
	margin-right: 40%;
}

.descrip td{
	position: inline;
}
